<form name="accountForm">

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Załóż konto</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control" ng-model="ctrl.creds.email" required="true" ng-change="ctrl.loginError=false;"/>
        <label for="password">Hasło</label>
        <input id="password" type="password" class="form-control" ng-model="ctrl.creds.password" required="true"/>
        <label for="passwordRe">Powtórz hasło</label>
        <input id="passwordRe" type="password" class="form-control" ng-model="ctrl.passwordRe" ng-pattern="ctrl.creds.password" required="true"/>
        <span ng-show="ctrl.creds.password != ctrl.passwordRe">Hasła muszą się zgadzać</span>
    </div>

    <div class="modal-footer">
        <span style="float: left;" class="label label-warning" ng-if="ctrl.loginError">To konto juz istnieje!</span>
        <button class="btn btn-success fa fa-sign-in" type="submit" ng-disabled="accountForm.$invalid || ctrl.creds.password != ctrl.passwordRe" ng-click="ctrl.tryCreate()"></button>
        <button class="btn btn-danger fa fa-times" type="button" ng-click="ctrl.cancel()"></button>
    </div>

</form>